<p>Designed by <a target="_blank" href="../preciouswebstudios.com/">Precious Web Studios © 2025</a></p>    
<div class="validation-links">
    <a target="_blank" id="validation-link-html" href="https://validator.w3.org/check?uri=referer">HTML Validation</a>
    <a target="_blank" id="validation-link-css" href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validation</a>
    <a target="_blank" id="validation-link-wave" href="https://wave.webaim.org/report#/">Disability/Accessibility Validation</a>
</div>
<script src="../../scripts/validation-icons.js"></script>