/*
Colors used:
Main background: #fefae0
Sub background: #283618
Elements: #bc6c25
*/

header, main, footer {
    text-align: center;
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 15px;
}
 
body, html {
    margin: 0;
    height: 100%;
}

body {
    background-color: #fefae0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

h1 {
    background-color: #fefae0;
    padding: 20px;
    margin: 0;
}

#navigation {
    background-color: #606c38;
    padding: 20px;
}

#navigation > a + a {
    margin-left: 30px;
}

#navigation > a {
    color: white;
    text-decoration: none;
}


main {
    margin-top: 150px;
    color: black;
}

figcaption {
    padding-top: 10px;
}

.strong {
    font-weight: bold;
}

.italic {
    letter-spacing: 0.035rem;
    font-style: italic;
}

ul {
    text-align: center;
    list-style: inside;
}

.indent {
    list-style: inside circle;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color:  #606c38;
    color: white;
    margin: 0;
    word-spacing: 5px;
    font-size: 12px;
    align-content: center;
}

.relevant-links, #copyright > a{
    color: white;

}

.divider {
    display: inline;
}

#copyright {
    color: white;
    word-spacing: normal;
}


#contract {
    width: 70%;
    max-width: 690px;
    margin: 0 auto;
}