:root {
    --background-color: #fefae0;
    --navigation-color: #283618;
    --navigation-text-color: #E9B87F;
    --text-color: #3F2E1F;
}

/* DEFAULT STYLING */
/* Text styling */

.strong {
    font-weight: bold;
}

.italic {
    letter-spacing: 0.035rem;
    font-style: italic;
}

header, main, footer {
    text-align: center;
    font-family: "Patrick Hand", cursive;
    font-size: 15px;
}

/* Header */
h1 {
    font-family: "Rock Salt";
    background-color: var(--background-color);
    padding: 12px;
    margin: 0;
    color: #BC6C25;
}

/* Header Navigation */
#navigation {
    background-color: var(--navigation-color);
    padding: 20px;
}

#navigation > a + a {
    margin-left: 30px;
}

#navigation > a {
    color: var(--navigation-text-color);
    text-decoration: none;
}

#navigation .icon {
    display: none;
}

/* Footer */
footer {
    min-height: 150px;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: var(--navigation-color);
    color: var(--navigation-text-color);
    word-spacing: 5px;
    font-size: 14px;
    align-content: center;
}

.divider {
    display: inline;
}

#copyright {
    color: var(--navigation-text-color);
    word-spacing: normal;
}

.relevant-links, #copyright > a{
    color: var(--navigation-text-color);
}

/* Body */

body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    flex: 1;
    color: var(--text-color);
}


/* Contract Page Specific */
#contract {
    width: 70%;
    max-width: 690px;
    margin: 0 auto;
}

/* Introduction Page Specific */

figcaption {
    padding-top: 10px;
}

ul {
    text-align: center;
    list-style: inside;
}

.indent {
    list-style: inside circle;
}

/* Web Evaluation Page Specific */

.comparison {
    display: grid;
    grid-template-columns: 40% 40%;   
    justify-content: space-evenly;
    margin: 0 0 70px 0;
    padding: 0;      
}

.comparison a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 30px;
    
} 

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    margin: 0;
    align-items: center;
    font-size: 17px;
}

.column img {
    width: 100%;
}

.column p, .column ul, .column li, .column a {
    align-items: center;
    justify-content: center;
    width: 75%;
}

.column ul {
    padding: 0;
}

.column li {
    width: 100%;
    padding-bottom: 10px;
}

.comparison > div > p {
    font-size: 20px;
}

/* RULE OVERRIDES */
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1900px ) {
    /* Website Evaluation */
    .column img {
        padding-bottom: 20px;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px ) {
    /* Website Evaluation */
    .column img {
        padding-bottom: 30px;
    }
    /* Footer */
    #navigation > a + a {
        margin-left: 15px;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 320px ) and ( max-width: 600px ) {
    /* Default Styling */
    #title {
        font-size: 17px;
    }
    h2 {
        font-size: 40px;
    }
    main {
        font-size: 17px;
    }

    /* Navigation */
    #navigation {
        font-size: 20px;
        align-content: center;
        padding: 5px 20px;
    }
    #navigation a:not(:first-child){
        display: none;
        float: none;
        text-align: left;
        margin: 10px;
    }

    #navigation .icon {
        display: block;
        float: right;
        color: #ffffff;
        
    }
    
    /* Website Evaluation */
    .comparison {
        display:block;
    }
    .conclusion::before {
        content: "Conclusion";
        font-size: 30px;
        font-weight: bold;
    }

    .comparison:last-child {
        margin-bottom: 100px;
    }
}