<a class="relevant-links" href="https://webpages.charlotte.edu/padigwe/">UNCC Homepage</a>
<p class="divider"> || </p>
<a class="relevant-links" href="https://github.com/pradigwe/">Github</a> 
<p class="divider"> || </p>
<a class="relevant-links" href="https://pradigwe.github.io/">Github.io</a>
<p class="divider"> || </p>
<a class="relevant-links" href="https://www.freecodecamp.org/padigwe">freeCodeCamp</a>
<p class="divider"> || </p>
<a class="relevant-links" href="https://www.codecademy.com/profiles/padigwe">CodeAcademy</a>
<p class="divider"> || </p>
<a class="relevant-links" href="https://www.linkedin.com/in/pradigwe/">LinkedIn</a>
<p id="copyright">
    Designed by 
    <a href="project/preciouswebstudios.com/">Precious Web Studios</a>
     © 2025, Certified in 
    <a href="https://www.freecodecamp.org/certification/padigwe/responsive-web-design">Responsive Web Design</a>
</p>
<a class="validation-links" 
id="validation-link-html"
href="https://validator.w3.org/check?uri=referer">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a class="validation-links" 
id="validation-link-css" 
href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>       

<script src="scripts/validation-icons.js"></script>