<div id="header">
    <h1 id="title">Precious Adigwe || ITIS 3135</h1>
    <div id="navigation-menu">
        <nav class="navigation">
            <a href="#" class="icon">&#9776</a>
            <a href="index.html">HOME</a>
            <a href="introduction.html">INTRODUCTION</a>
            <a href="contract.html">CONTRACT</a>
            <a href="website_evaluations.html">WEBSITE EVAL</a>
            <a href="tables.html">HTML TABLES</a>
            <a href="byo_intro.html">BYO INTRO</a>
            <a href="project_overview.html">PROJECT</a>
            <a href="slideshow.html">SLIDESHOW</a>
        </nav>
        <nav class="navigation">
            <a target="_blank" href="project/thepassionateauk/about.html">THE PASSIONATE AUK</a>
            <a target="_blank" href="project/stuff/CraPpY WeB&PagE.htm">CRAPPY</a>
            <a target="_blank" href="project/hobby/">HOBBY</a>
            <a target="_blank" href="project/clientproject/">CLIENT PROJECT</a>
            <a href="drawing.html">DRAWING</a>
        </nav>
    </div>
    
</div>
<script src="scripts/mobile-nav.js"></script>
<script src="scripts/nav-display.js"></script>