<ul class="menu-close">
    <li onclick="showSidebar()">
        <img src="../../images/icons8-menu-50.png" alt="home icon">
    </li>
</ul>
<nav class="sidebar">
    <ul class="nav-links" >
        <li class="nav-link"><a href="../../">Home</a></li>
        <li class="nav-link"><a href="../preciouswebstudios.com/">Web Studios</a></li>
        <li class="nav-link"><a href="../thepassionateauk/">Auk</a></li>
        <li class="nav-link"><a href="../stuff/CraPpY WeB&PagE.htm">CRAPPY</a></li>
        <li class="nav-link"><a href="../hobby/">HOBBY</a></li>
        <li class="nav-link" onclick="hideSidebar()"><img src="../../images/icons8-close-50.png" alt=""></li>
    </ul>
</nav>