<ul class="menu-close">
    <li onclick=showSidebar()>
        <img src="../../images/icons8-menu-50.png" alt="home icon">
    </li>
</ul>
<nav class="sidebar">
    <ul >
        <li><a href="../../">Home</a></li>
        <li><a href="../preciouswebstudios.com/">Web Studios</a></li>
        <li><a href="../thepassionateauk/">Auk</a></li>
        <li><a href="../stuff/CraPpY WeB&PagE.htm">CRAPPY</a></li>
        <li onclick=hideSidebar()><img src="../../images/icons8-close-50.png" alt=""></li>
    </ul>
</nav>