/* Color variables */
:root {
    --background-color: #efedea;
    --main-color: #851922;
    --main-color-2:#343131;
    --sub-color: #202442;
}

/* General layout */
html {
    box-sizing: border-box;
    font-size: 17px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    /* background-color: #fffefeff; */
    background-color: var(--background-color);
    max-width: 1440px;
    margin: 15px 10px;
    padding: 20px;
    width: calc(100vw - 20px);
    justify-self: center;
    align-content: center;
}

.border {
    border: 2px groove black;
    padding: 10px;
    /* border-image: url('images/border.png') 30 round; */

}

.divider {
    border: 1px solid black;
    margin: 20px;
}

.page {
    height: calc(100% - 5vh - 20px);
}

.strong {
    font-weight: bold;
}

.link {
    color: red;
    text-decoration: none;
}

/* Header Styles */
header {
    /* border: 2px solid black; */
    height: 20vh;
    width: calc(100% - 60px);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
/* Main title */
h1 {
    text-transform: uppercase;
    color: var(--main-color-2);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--main-color-2);
    font-size: 5em;
    font-style: italic;
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    margin: auto 0;
}
/* Timestamp display */
#time {
    margin: auto 0;
    padding: 20px;
    font-size: 30px;
    letter-spacing: 1.6px;
    color: #fefefe;
    background-color: var(--main-color);
}

/* Typography */
main {

    /* border-top: none; */
    padding: 20px;
    font-family:'News Cycle', 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Notica Text', 'Times New Roman', Times, serif;
    font-size: 2.5rem; 
    color: var(--main-color-2);
}

h3 {
    font-family: 'Notica Text', 'Times New Roman', Times, serif;
    color: var(--sub-color);
    font-size: 1.5rem;
}

h4, h5 {
    font-family: 'Notica Text', 'Times New Roman', Times, serif;
    color: var(--main-color-2);
}

/* Navigation Styles */
#navigation {
    /* background-color: var(--main-color); */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#navigation > a {
    text-decoration: none;
    color: var(--main-color-2);
    font-size: 20px;
}

/* Home Page Styles */
.panel {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px;
}

figure, section {
    margin: 0;
}

#home {
    height: calc(100% - 5vh - 20px);
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
}

#home > section:nth-child(1) {
    grid-column: 1;
}

#home > section:nth-child(2) {
    grid-column: 2;
}

figcaption {
    text-align: end;
}

#home > section:nth-child(3) {
    grid-column: 3;
}

div .panel > section{
    /* border: 1px solid green; */
    height: max-content;
}

#club-img {
    background-color: rebeccapurple;
    width: 100%;
    box-sizing: border-box;
    border: 2px inset black
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#instagram-btn, #ninerengage-btn {
    background-color: var(--main-color);
    color: #fefefe;
    border: none;
    margin: 20px;
    height: 3.5rem;
    font-family: 'Notica Text', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

/* Events Page */
#events {
    height: calc(100% - 5vh - 20px);
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1.5fr 2fr 1fr;
}

#events-list {
    /* background-color: var(--sub-color);
    color: #fefefe; */
    padding: 20px;
    margin: 20px;
}

.card {
    padding: 10px 15px;

}

.blue-back {
    background-color: var(--sub-color);
    color: #fefefe;
    padding: 10px;
    margin: 30px 0;
}

.red-back {
    background-color: var(--main-color);
    color: #fefefe;
    padding: 10px;
    margin: 30px 0;
}

#event-archives {
    margin: 10px 70px;
}

/* Join Page Styles*/
#join {
    height: calc(100% - 5vh - 20px);
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2.5fr 1.5fr;
}

#join > section {
    display: flex;
    flex-direction: column;
}

/* Embedded google form styles */
#officer-form, #volunteer-form {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    border: none;
}

#volunteer-form {
    padding-bottom: 30px;
}

/* Social media button styles */
#volunteer-btn, #officer-btn {
    background-color: var(--sub-color);
    color: #fefefe;
    border: none;
    margin: 20px;
    height: 3.5rem;
    font-family: 'Notica Text', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

#officer-btn {
    background-color: var(--main-color);
}

/* Contact Page Styles*/
#contact {
    height: calc(100% - 5vh - 20px);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#contact > section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contact > section > #instagram-btn, #contact > section > #ninerengage-btn {
    background-color: var(--sub-color);
}